---
layout: page
title: "Projects"
description: ""
keywords: ""
permalink: "projects"
slug: "projects"
---
<section class="post-list">
    <article class="post">
        <figure class="post-thumbnail">
          <a href="https://github.com/arpit551/AttendanceSystem">
            {% if post.image %}
              <img src="{{ post.image }}" alt="{{ post.title }}">
            {% endif %}
          </a>
        </figure>
        <div class="post-content">
          <header class="post-header">
            <h1 class="post-title">
              <a class="post-link" href="https://github.com/arpit551/AttendanceSystem">Smart Attendance System</a>
            </h1>
          </header>
          <p><a href="https://github.com/arpit551/AttendanceSystem" title="Permalink "> Web and Mobile Application that collects user attendance using face
            and voice authentication. App uses GPS for location verification and Bluetooth to keep a check on
            proximity.</a></p>
        </div>
      </article>
      <article class="post">
        <figure class="post-thumbnail">
          <a href="https://github.com/arpit551/IIITM-SAATHI">
            {% if post.image %}
              <img src="{{ post.image }}" alt="{{ post.title }}">
            {% endif %}
          </a>
        </figure>
        <div class="post-content">
          <header class="post-header">
            <h1 class="post-title">
              <a class="post-link" href="https://github.com/arpit551/IIITM-SAATHI">IIITM-SAATHI</a>
            </h1>
          </header>
          <p><a href="https://github.com/arpit551/AttendanceSystem" title="Permalink "> Developed a navigation Android app for IIIT-Gwalior which was used in
            NCQC-2018.</a> <a href=https://play.google.com/store/apps/details?id=com.f2w.arpit.college_map&hl=en_US> Playstore Link</a></p>
        </div>
      </article>
      <article class="post">
        <figure class="post-thumbnail">
          <a href="https://github.com/arpit551/MDP">
            {% if post.image %}
              <img src="{{ post.image }}" alt="{{ post.title }}">
            {% endif %}
          </a>
        </figure>
        <div class="post-content">
          <header class="post-header">
            <h1 class="post-title">
              <a class="post-link" href="https://github.com/arpit551/MDP">Guest House bookinh</a>
            </h1>
          </header>
          <p><a href="https://github.com/arpit551/AttendanceSystem" title="Permalink "> A site where people can book rooms for them according to availability
            and make payments online. This website is soon to be deployed for our college.</a></p>
        </div>
      </article>
</section>